@{
    ViewBag.Title = "Նկարագրություն";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Նկարագրություն</title>
</head>
<body>
    <h2>Ջանֆիդա համայնքի բնապատկեր</h2>
    <div id="pictures">
        <img src="~/Content/Images/janfidaphoto6.jpg" alt="Նկար" style="max-width: 1200px; margin-left: 50px;" />
    </div>
    <div class="mapsImg">
        <h3>Բնակավայրի քարտեզը</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24435.02393630308!2d44.0031969!3d40.0446648!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406ae6b593afd257%3A0xdd00c872f3a66d94!2sJanfida+0941!5e0!3m2!1sen!2s!4v1558914582039!5m2!1sen!2s" width="400" height="350" sstyle="margin-top: -550px;" frameborder="0"></iframe>
    </div>

    <did id="story">
        Գյուղը բնակեցված է եղել հնագույն ժամանակներից, որի մասին վկայում են բազմաթիվ հնագիտական գտածոներ: Հողաշինական աշխատանքների ժամանակ հայտնաբերվել է Ք.ա. 3-րդ հազարամյակին վերագրվող քարե սկահակ, պատրաստված միակտոր բազալտից: Գյուղին հարակից ավազահանքում (որն հանդիսացել է Արաքս գետի նախկին հունը) հայտնաբերվել է Ք.ա. 1-ին հազարամյակի պղնձե մեծ կաթսա, որը պատրաստված է միակտոր պղնձից, կռման եղանակով: Կաթսան ունի թռչնակերպ բռնակներ, որը հիմք է տալիս ենթադրելու, որ այն օգտագործվել է ծիսական արարողությունների ժամանակ: Ավելին, Հայաստանի հնագույն մայրաքաղաք Արմավիրը, Վանի թագավորության նշանավոր վարչական կենտրոններից մեկը` Արգիշտիխինիլին, գտնվում են Ջանֆիդայից ընդամենը մեկ կիլոմետր հեռավորության վրա, և չի բացառվում, որ այդ կաթսան օգտագործվել է հիշյալ քաղաքների քրմական դասի կողմից: Ինչպես վերոհիշյալ քարե սկահակը, այնպես էլ այս ծիսական կաթսան պահվում և ցուցադրվում են Սարդարապատի հայ ազգագրության և ազատագրական պայքարի պատմության պետական թանգարանում: Ջանֆիդա գյուղի տարածքում հայտնաբերվել է նաև ուրարտական Սարդուրի 2-րդ թագավորի սեպագիր արձանագրությունը, որը հաստատապես վկայում է նրա հնագույն ժամանակներից բնակեցված լինելու իրողության մասին: 1990-ական թվականներին շինարարական աշխատանքների ժամանակ մոտ 3 մետր խորության վրա գյուղի բնակիչ Սլավիկ Հարությունյանը հայտնաբերեց պատմամշակութային եզակի նշանակություն ունեցող մի կոթող: Տուֆ քարից պատրաստած գրեթե 2.5 մետր բարձրություն ունեցող կոթողի վրա քանդակված է Մարիամ Աստվածածինը՝ փոքրիկ Հիսուսի հետ: Կոթողը չունի թվագրություն, սակայն պատրաստման ոճից կարելի է ենթադրել, որ քանդակվել է VI-VII դարերում և հետագա խաչքարային արվեստի նախատիպերից է: Գյուղից ոչ հեռու պահպանվում է միջնադարյան խաչքարի մի հատված, որի վրա հստակ երևում է խաչքարի կանգնեցման թվականը՝ 923թ.: Ջանֆիդա գյուղում 1968թ. կառուցվեց Հայրենական Մեծ պատերազմում զոհված համագյուղացիների հիշատակին նվիրված հուշարձան կոթող, որի հեղինակել է նշանավոր քանդակագործ Արա Սարգսյանը:
    </did>

    <div>
    </div>
</body>
</html>
