
@{
    ViewBag.Title = "Գլխավոր";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @section head{
        <style type="text/css">
            body {
                background-image: url('/Content/Images/janfidaphoto1.jpg');
                background-size: cover;
                height: 100vh;
                width: auto;
            }
        </style>
    }
</head>
<body>

    <div class="titles">
        <div class="titles_first">
            Բարի գալուստ
        </div>
        <div class="titles_second">
            Ջանֆիդա
        </div>

    </div>
    <footer>
        <div class="container">

        </div>
    </footer>
</body>
</html>

