@{
    ViewBag.Title = "Հետաքրքիր վայրեր և շինություններ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div class="gallery">
        <a target="_blank" href="~/Content/Images/janfidaphoto2.jpg">
            <img src="~/Content/Images/janfidaphoto2.jpg" alt="Եկեղեցի" style="width: 100%;">
        </a>
        <div class="desc">
            <p>
                2014թ. մայիսի 10-ին Արմավիր մարզի Ջանֆիդա համայնքում Արմավիրի թեմի Առաջնորդ Տ. Սիոն արքեպիսկոպոս Ադամյանի ձեռամբ և ՀՀ ԶՈՒ հոգևոր Առաջնորդ` Տ. Վրթանես Եպիսկոպոս Աբրահամյանի, Մայր Աթոռ Սուրբ Էջմիածնի Լուսարարապետ` Տ.  Հովնան Եպսիկոպոս Հակոբյանի, Արմավիր թեմի հոգևոր դասի մասնակցությամբ կատարվեց նորակառույց Սուրբ Կարապետ Եկեղեցու օծման արարողությունը: Այժմ եկեղեցու հոգևոր հովիվն է Տեր Արիս քահանա Խաչատրյանը: Ջանֆիդա գյուղում եկեղեցի կառուցելու մտահղացումը Արթուր Կարապետյանինն է, ով իրականացրել է նաև իր ծնողների ու նախնիների երազանքը: Բարերարը եկեղեցին կառուցել է իր ծնողների հիշատակին և ցանկացել, որ այն կոչվի իր Կարապետ պապի անվամբ: Այնուհետև Արմավիրի թեմի առաջնորդին հանձնեց եկեղեցու կառուցման վկայականը, որպես Մայր Աթոռի սեփականություն: Գյուղում քիչ չեն քրիստոնեական դավանաբանությամբ տարբեր կրոնական կազմակերպությունների հետևորդները, ըստ տեղացիների՝ շուրջ 30 տոկոսը:
            </p>
        </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/Content/Images/janfidaphoto3.jpg">
            <img src="~/Content/Images/janfidaphoto3.jpg" alt="Հուշարձան" style="width: 100%;">
        </a>
        <div class="desc">
            <p>
                Հուշարձանը տեղադրվել է 1968 թվականին՝ ի հիշատակ Հայրենական մեծ պատերազմում զոհված ջանֆիդացիների։ Արձանի հետևում տեղադրված է հուշապատ, որի վրա փորագրված են Հավերժության հայկական նշանը, պատերազմում անմահացած հերոսների անունները և  Եղիշեի խոսքերը։ Քանդակագործն Արա Սարգսյանն է, ճարտարապետն՝ Արմեն Սարգսյանը։ Քանդակված է բրոնզի և բազալտի միացումից, չափերը՝ 360x260x150 սմ։ Հուշարձանը ներառված է <a href="https://www.arlis.am/DocumentView.aspx?DocID=45005" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"> ՀԱՅԱՍՏԱՆԻ ՀԱՆՐԱՊԵՏՈՒԹՅԱՆ ԱՐՄԱՎԻՐԻ ՄԱՐԶԻ ՊԱՏՄՈՒԹՅԱՆ ԵՎ ՄՇԱԿՈՒՅԹԻ ԱՆՇԱՐԺ ՀՈՒՇԱՐՁԱՆՆԵՐԻ ՊԵՏԱԿԱՆ ՑՈՒՑԱԿՈՒՄ` </a>կետ 3․83։
            </p>
        </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/Content/Images/janfidaphoto4.jpg">
            <img src="~/Content/Images/janfidaphoto4.jpg" alt="Խաչ" style="width: 100%;">
        </a>
        <div class="desc">
            <p>
                Խաչը գտնվում է գյուղի սկզբնամասում։ Այն կանգնեցվելէ Կամսար Լենդրուշի Ղորղանյանի ֆինանսավորմամբ, ի հիշատակ հոր՝ Լենդրուշ Ղորղանյանի։ <br>Օծվել է Արմավիրի թեմի հոգևորականների ձեռամբ։ Արարողությանը ներկա էր նաև Արմավիրի նախկին մարզպետ Աշոտ Ղահրամանյանը
            </p>
        </div>
    </div>
</body>
</html>
